.hero {
  background: linear-gradient(
    135deg,
    #232f3e,
    #131921
  );

  color: white;
  text-align: center;
  padding: 120px 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
  font-size: 1.2rem;
}